<!DOCTYPE html>
<html lang="en">
	<head>
		<title>TexT SummarizeR.</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<!-- Custom styles for this template -->
		<link href="\static\navbar.css" rel="stylesheet">
	</head>
	
	<body background="\static\pic4.jpg" style=" opacity: 0.8;">
		 <div class="navbar-wrapper">
		  <div class="container">

			<nav class="navbar navbar-inverse navbar-static-top">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" style="text-align:center" href="#">TexT SummarizeR.</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
				  <ul class="nav navbar-nav" style="float:right">
					<li class="active" ><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#kinds">Kinds</a></li>
				  </ul>
				</div>
			  </div>
			</nav>

		  </div>
		</div>
		<div class="container" style="padding-top:14%">
			<div class="row">
				<div class="col-sm-offset-2 col-sm-4 jumbotorn col-sm-offset-1" style="background-color:#222222;padding-top:10px; border-radius: 20px;">
					<div class="panel panel-default">
						<div class="panel-heading"><h3><b>Through Text File</b></h3></div>
						<div class="panel-body">
							<form method="POST" action="/text">
							  <input class="btn" type="file" name="text" accept="media_type">
							  <input class="btn btn-basic" type="submit">
							</form>
						</div>
					</div>
				</div>
				<div class="col-sm-4 jumbotorn col-sm-offset-1" style="background-color:#222222;padding-top:10px; border-radius: 20px;">
					<div class="panel panel-default">
						<div class="panel-heading"><h3><b>Through Audio File</b></h3></div>
						<div class="panel-body">
							<form method="POST" action="/audio">
							  <input class="btn" type="file" name="audio" accept="audio/*">
							  <input class="btn btn-basic" type="submit">
							</form>
						</div>
					</div>
				</div>
			</div>
				<br>
				<div class="row">
				<div class=" col-sm-offset-4 col-sm-4 jumbotorn " style="background-color:#222222;padding-top:10px; border-radius: 20px;">
					<div class="panel panel-default">
						<div class="panel-heading"><h3><b>Through URL</b></h3></div>
						<div class="panel-body">
							<form action="/url" method="POST">
							<h4>Enter URL:</h4>
							  <input type="input" name="url_var"  value="https://www.ndtv.com/mumbai-news/rain-causes-wall-collapse-in-mumbais-wadala-cars-stuck-in-debris-1872626"></input>
							  <input class="btn btn-basic" style="padding-left:25px;" type="submit">
							   <!--<button class="btn btn-basic" type="button" onclick="loadDoc()">Click here </button>-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
